/* Import font from google */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* Set background color and general text settings for the body  element*/
body {
  background-color: #F0EAD6;
  font-family: 'Open Sans', Arial, Helvetica;
  text-align: center;
  position: absolute;
}
/* Font size for header text */
h1 {
  font-size: 3em;
}

/* Center the image relative to the parent element */
img {
  position: relative;
  text-align: center;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

li {
  margin: 2em;
}

blockquote {
  font-style: italic;
  padding: 0em;
}

footer {
  font-weight: bold;
}

/* Center the image tiv (container) relative to the parent element */
#img-div {
  margin: 10px;
  padding: 10px;
  background-color: white;
  position: relative;
}

#img-div p {
  margin: 1em 2em 1em 2em;
}

#tribute-info {
  padding: 1em 10em 1em 10em;
  text-align: left;
}

#tribute-info h3 {
  text-align: center;
  padding: 1em;
}